*,
:after,
:before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'openSansRegular';
  src: url(../common/assets/fonts/OpenSans-Regular.ttf);
}

body {
  /* font families to be used */
  --simple-fontFamily: Source Sans Pro, -apple-system, BlinkMacSystemFont,
    Segoe UI, Helvetica Neue, Arial, sans-serif, openSansRegular;

  /* colors to be used */
  --background: #f5f7fb;
  --plainText: #495057;
  --white: #fff;
  --mute: #9aa0ac;
  --warning: #f1c40f;
  --danger: #cd201f;
  --success: #5eba00;
  --borderColor: rgba(0, 40, 100, 0.12);
  --orange: #ff8533;
  --borderOrange: #f96705;
  --boxShadow: rgba(0, 0, 0, 0.05);
  --darkBoxShadow: rgba(0, 0, 0, 0.5);
  --tabsBorder: #dee2e6;
  --activeTabBorder: #0bbcd8;
  --hoverTabColor: #6e7687;
  --avtarBackground: #ced4da;
  --avtarText: #868e96;
  --bhagwa: #ff4c33;
  --golden: #d4af37;
  --green: #008000;
  --sky: #33ffdd;
  --saffron: rgb(163, 51, 255);
  --cardBack: rgba(0, 0, 0, 0.03);
  --blueviolet: blueviolet;
  --blakColor: #000;

  /* font size to be used */

  /* font weight to be used */
  --normal: 400;
  --semiBold: 600;
  --bold: 700;
}

body {
  margin: 0;
  /* font-family: var(--simple-fontFamily); */
  font-size: 0.9375rem;
  font-weight: var(--normal);
  line-height: 1.5;
  color: var(--plainText);
  text-align: left;
  background-color: var(--background);
  height: 100%;
}

img {
  max-width: 100%;
}

blockquote,
ol,
p,
ul {
  margin-bottom: 1em;
}

dl,
ol,
ul {
  margin-top: 0;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

address,
dl,
ol,
ul {
  margin-bottom: 1rem;
}

span {
  color: var(--plainText);
}

div {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.66em;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.p-6 {
  padding: 2rem !important;
}

.form {
  display: block;
  margin-top: 0em;
}

.pointerEventsNone {
  pointer-events: none;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.text-muted {
  color: var(--mute) !important;
}

select .text-muted {
  color: var(--white);
  background-color: lightgray;
  cursor: not-allowed;
}

option {
  text-transform: capitalize;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group,
.form-label {
  display: block;
}

.dropdown {
  display: inline-block;
}

.leading-none {
  line-height: 1 !important;
}

.txt-center {
  text-align: center;
}

.noView {
  padding-top: 170px;
  background-color: rgba(0.1, 0.1, 0.1, 0.1) !important;
}

.welcome {
  color: var(--activeTabBorder);
  display: block;
  font-weight: bold;
  font-size: xx-large;
}

.blockLine {
  display: block;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.form-label {
  margin-bottom: 0.375rem;
  font-weight: var(--semiBold);
  font-size: 0.875rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: var(--plainText);
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  transition: var(--borderColor) 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropzone-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.6;
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  transition: var(--borderColor) 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropzone-input span {
  font-weight: var(--semiBold);
  font-size: 0.875rem;
}

.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 87.5%;
  color: var(--danger);
}

.transaction-status{
  color: var(--danger);
}

.warn-feedback {
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: block;
  font-size: 87.5%;
  color: var(--warning);
}

.form-control.is-invalid {
  border-color: var(--danger);
}

.valid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 87.5%;
  color: var(--success);
}

.form-control.is-valid {
  border-color: var(--success);
}

.state-invalid {
  padding-right: 2rem;
  background: none;
}

.form-footer {
  margin-top: 2rem;
}
.sendButtonWrapper{
  width: 20%
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  font-weight: var(--semiBold);
  letter-spacing: 0.03em;
  font-size: 0.8125rem;
  min-width: 2.375rem;
  text-transform: capitalize;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.84615385;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.75rem;
  min-width: 1.625rem;
}

.btn-outline-primary {
  color: var(--orange);
  background-color: initial;
  background-image: none;
  border-color: var(--borderOrange);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  color: var(--white);
  background-color: var(--orange);
  border-color: var(--borderOrange);
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.card {
  box-shadow: 0 1px 2px 0 var(--boxShadow);
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}

.card-title {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: var(--normal);
  margin-bottom: 1.5rem;
}

.card-body {
  flex: 1 1 auto;
  margin: 0;
  padding: 1.5rem;
  position: relative;
}

.page-single {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.header-brand {
  color: inherit;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
  font-weight: var(--semiBold);
  padding: 0;
  transition: opacity 0.3s;
  line-height: 2rem;
}

.header-brand-img {
  height: 2rem;
  line-height: 2rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
  width: auto;
}

.py-4 {
  padding-bottom: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.formComponent {
  position: relative;
  margin-bottom: 20px;
}

.statusWrapper .slider-image {
  max-width: 300px;
  width: 300px;
  min-height: 150px;
  height: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.statusWrapper .slider-image .image-style{
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.addCircleIcon{
  width: fit-content;
  /* background-color: red; */
}

.buttonWrapper .default_white_btn{
  margin-right: 20px;
  /* width: 23%; */
}

.componentForm {
  padding: 1rem 1.5rem;
  border: 1px solid var(--borderColor);
  border-radius: 3px 3px 0 0;
  font-size: 0.9375rem;
}

.header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: var(--white);
}

.header {
  padding: 15px 90px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border-bottom: 1px solid var(--borderColor);
}

.footer {
  background: var(--white);
  border-top: 1px solid var(--borderColor);
  font-size: 0.875rem;
  padding: 1.25rem 0;
  color: var(--mute);
}

.align-items-center {
  align-items: center !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.text-center {
  text-align: center !important;
}

.collapse {
  display: none;
}

.nav-tabs {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--mute);
  margin: 0 -0.75rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.flex-column {
  flex-direction: column !important;
}

.border-0 {
  border: 0 !important;
}

.nav-tabs {
  border-bottom: 1px solid var(--tabsBorder);
}

.nav-tabs .nav-item {
  margin-bottom: 0;
  position: relative;
}

img.wallet-icon {
    height: 12px;
    margin-right: 4px;
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-item,
.nav-link {
  padding: 0 0.75rem;
  min-width: 2rem;
  transition: color 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-tabs .nav-link.active {
  border-bottom-color: var(--activeTabBorder);
  color: var(--activeTabBorder);
  background: transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: var(--plainText);
  border-color: var(--tabsBorder) var(--tabsBorder) var(--background);
}

.nav-tabs .nav-link {
  border: 0;
  color: inherit;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  transition: border-color 0.3s;
  font-weight: var(--normal);
  padding: 1rem 0;
}

.nav-tabs .nav-link:hover:not(.disabled) {
  border-bottom-color: var(--hoverTabColor);
  color: var(--hoverTabColor);
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
}

.nav-item,
.nav-link {
  padding: 0 0.75rem;
  min-width: 2rem;
  transition: color 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  display: inline-block;
  background: var(--avtarBackground) no-repeat 50% / cover;
  position: relative;
  text-align: center;
  color: var(--avtarText);
  font-weight: var(--semiBold);
  vertical-align: bottom;
  font-size: 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-tabs .nav-item i {
  margin-right: 0.25rem;
  line-height: 1;
  font-size: 0.875rem;
  width: 0.875rem;
  vertical-align: initial;
  display: inline-block;
}

.fa {
  font-style: normal;
  font-weight: var(--normal);
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flxRow {
  display: flex;
  display: -webkit-flex;
}

.toggle {
  display: none;
}

.phonePickerContainer .selected-flag {
  position: absolute;
  height: 39px;
  width: 27px;
  background: url('./assets/images/dropDownIcon.png') round;
  margin-right: 2px;
}

.phonePickerContainer .form-control {
  padding: 0.375rem 1.75rem;
}

.phoneListContainer {
  position: absolute;
}

.emp .phonePickerContainer .country-list {
  max-height: 130px;
  position: absolute;
  width: 96% !important;
}

/*------------------------------- # Media Query # -----------------------------------*/

@media only screen and (min-width: 310px) and (max-width: 767px) {
  .toggle {
    width: 44px;
    display: inline-block;
    padding-top: 8px;
    border-style: none;
    background-color: transparent;
  }

  .toggle > img {
    max-width: 100%;
  }

  .header {
    position: relative;
  }

  .header .mob_nav {
    background: #fff;
    padding: 14px 10px;
    box-shadow: 0px 3px 3px var(--darkBoxShadow);
    display: none;
    transition: all 0.3s ease-in-out;
  }

  .header .mob_nav.show {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  .header .mob_nav li {
    margin-bottom: 16px;
    padding: 0px;
  }

  .header .mob_nav li a {
    padding: 0px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 1.5rem !important;
  }
  .mt-md-5,
  .my-md-5 {
    margin-top: 1.5rem !important;
  }
  .container {
    max-width: 720px;
  }
  .d-md-flex {
    display: flex !important;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .order-lg-2 {
    order: 2;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 9%;
  }
  .order-lg-first {
    order: -1;
  }
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .flex-lg-row {
    flex-direction: row !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.componentForm.mg30.addFlex {
  display: flex;
  justify-content: space-between;
}

.formrowFlex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.textareaCstmWidth {
  width: 480px;
  height: 110px;
}

@media screen and (max-width: 768px) {
  .card-body {
    padding: 0;
  }
  .componentForm.mg30.addFlex {
    margin-bottom: 20px;
  }
}